**/__pycache__/*
.pytest_cache/*

envs/*
!envs/.gitkeep
pkgs/*
!pkgs/.gitkeep
results/*
!results/.gitkeep
logs/*
!logs/.gitkeep
singularity/*
!singularity/.gitkeep
COBLE-ENV/bin/ahost
docs/first.txt
environment.yml
site/*
containers/singularity/*
!containers/singularity/.gitkeep
*.sif
*.tar
cap-conda-packages.txt
cap-pip-freeze.txt
cap-r-packages.txt
coble-capture.tmp
coble-capture.txt
requirements.txt
coble-capture.yml
coble-capture-sorted.tmp
coble-capture-reproduce.sh
*.log
*.time
coble-capture-*-recipe.sh
coble-capture-*.yml
*.err
*bak
*.yml.recipe.sh
*.yml.recipe.sh.summary.txt
local/*
myenv/*
xold/*
tutorials/*
config/*
rachel.md
.rachel.md
old/containers/singularity/coble-mini.sif
recipes/carbine_capture.cbl
tests/fixtures/*
!tests/fixtures/*.cbl
!tests/fixtures/validate.sh
tests/fixtures/*_freeze.cbl

recipes/**
!recipes/**/
!recipes/**/*.cbl
!recipes/**/.dockerhub
!recipes/**/.DOCKERHUB
!recipes/**/README.md
!recipes/**/validate.sh
!recipes/**/validate/*
!recipes/**/*_summary.txt
!recipes/**/*.sh
!recipes/**/*.Dockerfile
!recipes/**/session.info.txt

cbl-icr-small.sif
cbl-carbine.sif
cbl-cosmx.sif
cbl-cosmx.tar
cbl-template.tar
cbl-carbine.tar
cbl-template.sif
.vscode/*
dev-recipes/**/*.png
dev-recipes/**/*.tmp
dev-recipes/**/*.txt
dev-recipes/**/*.log
dev-recipes/**/*.done
dev-recipes/**/*.delta
dev-recipes/**/*.html
*.cbo
dev-recipes/template/template_freeze.cbl
dev-recipes/small/small_network_interactive_files/vis-9.1.0/vis-network.min.js
recipes_docker/*
*.tmp
tests/github/*.done
tests/github/*.delta
tests/github/*.log
tests/github/*.html
tests/github/*.txt
tests/github/logs/*
tests/github_docker/logs/*
CHIEF-DEV/*
*.png
temp/*
outputs/*
*.*.tar*
cache/*
output/*
boltz_results_affinity/*
build
call
.cache/*
boltz_results_prot-lig/*
tests/github/publication/*
!tests/github/publication/codex.cbl
!tests/github/publication/netvis.cbl
!tests/github/publication/find.cbl
!tests/github/publication/stjc.cbl
!tests/github/publication/commands.sh
!tests/github/publication/test_set1_pub.py
!tests/github/publication/commands.docx
!tests/github/publication/commands.md
xdev-recipes/*
lib/*
recipes/papers/DESeq2/DESeq2_2026_export2.cbl
recipes/icr/bcds/bcds_freeze2.cbl
githubs/*
githubs/Tumorigenesis2018/Tumorigenesis.sif
githubs/Tumorigenesis2018/BRCA1_SCE.rds
githubs/Tumorigenesis2018/data/sce_tumour_GB_04_umap.rds
githubs/Tumorigenesis2018/data/BRCA1_SCE.rds
githubs/Tumorigenesis2018/data/Tumorigenesis/Robjects/SCE_QC.rds
githubs/Tumorigenesis2018/data/Tumorigenesis/Robjects/SCE_QC_norm.rds
githubs/Tumorigenesis2018/data/Tumorigenesis/Robjects/BRCA1_SCE.rds
sifs/coble-papers-deseq2.sif
sifs/cbl-r-360-conda.sif
sifs/cbl-sylver.sif
sifs/cbl-r-360-conda.tar
sifs/cbl-pgp.tar
sifs/cbl-carbine.sif
sifs/Tumorigenesis.sif
sifs/coble-papers-provgigapath.sif
sifs/cbl-r-443-conda.tar
sifs/cbl-r-452-conda.sif
sifs/cbl-provpigapath.tar
sifs/cbl-r-452-conda.tar
sifs/cbl-pgp.sif
sifs/cbl-boltz2.tar
sifs/cbl-r-443-conda.sif
sifs/cbl-deseq2.tar
sifs/cbl-r-362-conda.tar
sifs/cbl-sylver.tar
sifs/cbl-r-362-conda.sif
sifs/cbl-boltz2.sif
sifs/cbl-deseq2.sif
sifs/cbl-carbine.tar
recipes/papers/tumorigenesis/data/sce_tumour_GB_04_umap.rds
recipes/papers/tumorigenesis/data/sce_tumour_GB_01_norm.rds
recipes/papers/tumorigenesis/data/BRCA1_SCE.rds
recipes/papers/tumorigenesis/data/sce_tumour_GB_03_mnn.rds
recipes/papers/tumorigenesis/data/sce_tumour_GB_02_hvg.rds
libgfortran3_6.4.0-17ubuntu1_amd64.deb
data.tar.xz
control.tar.xz
debian-binary
recipes/demos/*
githubs/Tumorigenesis2018/data/Tumorigenesis/Robjects/UMAP_graphs.rds
sifs/cbl-zheng2017.sif
sifs/cbl-zheng20172.tar
sifs/cbl-velton2025.sif
sifs/cbl-zheng20172.sif
sifs/cbl-zheng2017.tar
sifs/cbl-velton2025.tar
recipes/demos/tumorigenesis/data/sce_tumour_GB_04_umap.rds
recipes/demos/tumorigenesis/data/sce_tumour_GB_01_norm.rds
recipes/demos/tumorigenesis/data/BRCA1_SCE.rds
recipes/demos/tumorigenesis/data/sce_tumour_GB_03_mnn.rds
recipes/demos/tumorigenesis/data/sce_tumour_GB_02_hvg.rds
